.circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #fff, #e4e3e8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-family: "Satisfy";
  box-shadow: 20px 15px 20px -4px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 20px 15px 20px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 20px 15px 20px -4px rgba(0, 0, 0, 0.23);
  box-shadow: 20px 15px 260px -4px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 20px 15px 260px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 20px 15px 260px -4px rgba(0, 0, 0, 0.23);
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: linear-gradient(315deg, #fff, #e4e3e8);
    border-radius: 50%;
  }
}

.title-text {
  position: absolute;
  font-size: 2rem;
}
.mom-text {
  color: #ff2a2a;
}
